* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 6vh;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}

.burger-icon {
  margin-right: 1em;
}

.youtube-icon {
  margin-right: 0.5em;
}
.left-heading {
  padding: 1em;
  font-size: 1.4em;
  display: flex;
  /* align-items: baseline; */
  /* display: flex;
  justify-content: center; */
}

.title {
  font-size: 1em;
}

.middle-heading {
  position: relative;
  display: flex;
  justify-content: center;
}
.search-field {
  width: 400px;
  height: 2em;
  border: 2px solid #aaa;
  border-radius: 30px;
  padding: 1.1em;
}

.search-icon {
  position: absolute;
  right: 30px;
  padding: 1em;
  border-radius: 0px 30px 30px 0px;
  background-color: hsl(0, 0%, 52%);
  height: 2em;
  display: flex;
  top: 0.4px;
  justify-content: center;
  align-items: center;
}
.micro-icon {
  font-size: 1.6em;
  margin-left: 0.5em;
}
.right-heading {
  padding: 1em;
}

.video-icon {
  margin-right: 0.5em;
  font-size: 1.3em;
}

.bell-icon {
  font-size: 1.3em;
}
.bell-icon:hover,
.video-icon:hover,
.micro-icon:hover,
.youtube-icon:hover {
  cursor: pointer;
}
